{%extends "base.html"%}
{%block content%}


<div class="form-class">
	{% if form.errors %}
		<p>
		Your username and password didn't match.
			Please try again.<br>
	Your password must contain at least 8 characters and password can’t be entirely numeric.
		</p>
	{% else %}
<p>Use the form below to change your password.</p>
	{% endif %}
	<form class="form"  method="post">
			<div class="row">Old Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp{{form.old_password}}<br><br></div>
	        <div class="row">New Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp{{form.new_password1}}<br><br></div>
	        <div class="row">New Password Again &nbsp&nbsp&nbsp{{form.new_password2}}<br><br></div>
			{% csrf_token %}
			<button class="button" type="submit">Change</button>
		</form>
	
	</div>
{%endblock%}
